" 基本设置
set showmode
set incsearch
set nu
set relativenumber
set ignorecase
set smartcase
set clipboard+=unname
set quickscope

" 插件配置
" 高亮复制内容
Plug 'machakann/vim-highlightedyank'
" 注释插件
Plug 'tpope/vim-commentary'
Plug 'kana/vim-textobj-entire'
Plug 'preservim/nerdtree'

" 设置引导键为空格
let mapleader = " "

let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

" 插入模式下方向键映射
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>

" 系统剪贴板复制相关映射
" 普通模式下复制到系统剪贴板
" nnoremap y "+y
" 普通模式下复制整行到系统剪贴板
" nnoremap yy "+yy
" 普通模式下粘贴系统剪贴板内容
" nnoremap p "+p
" 可视模式下复制到系统剪贴板
vnoremap y "+y

" 常用IDE动作快捷键映射
" 重命名元素
nnoremap <leader>re :action RenameElement<CR>
" 重命名文件
nnoremap <leader>rf :action RenameFile<CR>
" 实现方法
nnoremap <Leader>im :action ImplementMethods<CR>
" 提取方法
vnoremap <Leader>em :action ExtractMethod<CR>

" 跳转到动作
nnoremap <Leader>ga :action GotoAction<CR>
" 调试
nnoremap <Leader>db :action Debug<CR>
" 跳转到上次更改
nnoremap <Leader>gb :action JumpToLastChange<CR>
" 跳转到类
nnoremap <Leader>gc :action GotoClass<CR>
" 跳转到声明
nnoremap <Leader>gd :action GotoDeclaration<CR>
" 跳转到父方法
nnoremap <Leader>gs :action GotoSuperMethod<CR>
" 跳转到实现
nnoremap <Leader>gi :action GotoImplementation<CR>
" 跳转到文件
nnoremap <Leader>gf :action GotoFile<CR>
" 跳转到符号
nnoremap <Leader>gm :action GotoSymbol<CR>
" 显示用法
nnoremap <Leader>gu :action ShowUsages<CR>
" 跳转到测试
nnoremap <Leader>gt :action GotoTest<CR>
" 路径内查找
nnoremap <Leader>gp :action FindIndPath<CR>
" 最近文件
nnoremap <Leader>gr :action RecentFiles<CR>
" 后退
nnoremap <Leader>gh :action Back<CR>
" 前进
nnoremap <Leader>gl :action Forward<CR>
nnoremap <leader>d :action QuickJavaDoc<CR>
