" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" My define key
" 修改引导键
let mapleader = " "
" 修改插入模式进入普通模式的快捷键
inoremap jk <esc>
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
" 重命名元素
nnoremap <leader>re :action RenameElement<CR>
" 重命名文件
nnoremap <leader>rf :action RenameFile<CR>
" 实现方法
nnoremap <Leader>im :action ImplementMethods<CR>
" 提取方法
vnoremap <Leader>em :action ExtractMethod<CR>

nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>db :action Debug<CR>
nnoremap <Leader>gb :action JumpToLastChange<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gd :action GotoDeclaration<CR>
nnoremap <Leader>gs :action GotoSuperMethod<CR>
" 跳转到实现
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gm :action GotoSymbol<CR>
nnoremap <Leader>gu :action ShowUsages<CR>
nnoremap <Leader>gt :action GotoTest<CR>
nnoremap <Leader>gp :action FindInPath<CR>
nnoremap <Leader>gr :action RecentFiles<CR>
nnoremap <Leader>gh :action Back<CR>
nnoremap <Leader>gl :action Forward<CR>


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set relativenumber


" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
